doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		block title
			title Welcome to my page!
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="/css/sample.css", rel="stylesheet", type="text/css")
		block styles
	body
		div.container
			block content